#member_processing_mess{color: #ff0000;}

.popupclosebtn{position: absolute; top: 0; right: 0;}
.popupclosebtn a{
    background: #FDA700;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-position: 0 0;
    text-align: center;
    color: #ffffff;
    padding: 4px;
    font-size: 20px;
}
