
footer{
    margin: 0;

    .footer-widget-top h4{
        font-size: 15px;
        font-weight: bold;
        line-height: 25px;
        padding: 5px 0;
        text-transform: uppercase;
    }
    
    .footer-widgets-box{padding:10px 1%;}
    .footer-1c{}
    .footer-1c .footer-widgets-box{}

    .footer-2c{}
    .footer-2c .footer-widgets-box{display: inline-block; width: 47.7%; float: left;}

    .footer-3c{}
    .footer-3c .footer-widgets-box{display: inline-block; width: 31%; float: left;}

    .footer-4c{}
    .footer-4c .footer-widgets-box{
        border-left: 1px solid #fff;
        border-right: 1px solid #d3d3d3;
        display: table-cell;    
        width: 23%;
    }

    .footer-4c .footer-widgets-box:last-child{
        border-right: none;
        border-left:none;
    }


    .footer-4c .footer-widgets-box .footer-widget-top h4{
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        padding: 5px 0;
        text-transform: uppercase;    
    }

    .footer-4c .footer-widgets-box .footer-widget-container{padding: 0;}

    .footer-widget-container li{
        line-height: 20px;
        margin-bottom: 5px;

        a{
            color:#333;
            background: url("../images/layout/icon_ul_ttcb.png") no-repeat scroll left center rgba(0, 0, 0, 0);
            color: #333;
            padding-left: 15px;

            &a:hover{text-decoration: underline; color: #e77911;}
        }
        span{
            display: block;

            a{color:#fda700;}
        }
    }
    .footer-widget-container li span.post-date{padding-left: 15px; color: #e77911; font-style: italic;}
    .footer-widget-container li.recentcomments a{background:none;}

    .keyworks_foot{
        border-top:1px solid #fff; 
        padding:15px 0 15px 105px; 
        font-size:10px; 
        position:relative;

        a{
            color:#666; 
            line-height: 20px; 
            padding: 0 2px;

            &a:hover{
                color:#333; 
                text-decoration:underline;
            }
        }
    }
}