.t_r_tlsp{
    height:35px; 
    line-height:35px; 
    border-bottom:1px solid #fda700; 
    color:#fda700;
    font-size: 18px;
}

.header_title {
    margin: 30px 0 20px 0;
}

.archive {
    .header_title{
        text-transform: uppercase;
        font-weight: bold;
    }
}

.card-body{
    padding: 10px;
}

