.tagcloud{
    a{
        background-color: #eee; 
        padding: 3px 10px; 
        margin: 2px; 
        height: 33px; 
        line-height: 33px; 
        color: #555759;
        display: inline-block;
        background-color: #ddd;
    }
}