$black_color: #333;
$red_color: #E80000;
$white_color: #ffffff;
$yellow_color: #fda700;
$gray_color: #7A7A7B;
$gray_color_opacity: #eeeeee;

/*** Index ***/
$main_header_index: 100;
$main_menu_index: ($main_header_index + 1);
$main_slider_index: 90;
$search_index: ($main_slider_index + 1);
$main_menu_dmsp: ($main_slider_index + 2);

$main_color: $yellow_color;
$old_price_color: $gray_color;
$new_price_color: $red_color;